<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Shamyr" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/Shamyr/nuget/v3/index.json" />
    <add key="ShamyrCloud" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/ShamyrCloud/nuget/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <Shamyr>
      <add key="Username" value="devops" />
      <add key="ClearTextPassword" value="3rdadsu5nghervedyj3bxmh45hhzf2tgjqicdkwnox3w3us34tka" />
    </Shamyr>
    <ShamyrCloud>
      <add key="Username" value="devops" />
      <add key="ClearTextPassword" value="3rdadsu5nghervedyj3bxmh45hhzf2tgjqicdkwnox3w3us34tka" />
    </ShamyrCloud>
  </packageSourceCredentials>
</configuration>
