<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Shamyr" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/Shamyr/nuget/v3/index.json" />
    <add key="ShamyrCloud" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/ShamyrCloud/nuget/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <Shamyr>
      <add key="Username" value="devops" />
      <add key="ClearTextPassword" value="tnzbi6dnbof6nklw7xdde5gnenzwsxl5evwa3oec2yl3utg6bf5a" />
    </Shamyr>
    <ShamyrCloud>
      <add key="Username" value="devops" />
      <add key="ClearTextPassword" value="tnzbi6dnbof6nklw7xdde5gnenzwsxl5evwa3oec2yl3utg6bf5a" />
    </ShamyrCloud>
  </packageSourceCredentials>
</configuration>
